header {
  background-color: #b0c4de73;
  margin-bottom: 40px;
  display: block;
}

header h1 {
  color: lightsteelblue;
  text-shadow: 5px 5px 5px #000000;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: lightsteelblue;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

body {
  margin: 0;
  font-family: Montserrat;
  background-color: black;
  color: lightsteelblue;
}

img {
  width: 100%
}

main a {
  text-decoration: none;
  color: #004dff;
}


.round {
  border-radius: 50%;
}

.small-txt {
  font-size: x-small;
  text-align: center;
}

main h2 {
  font-size: 28px;
  font-weight: 400;
  padding-left: 10px;
  text-decoration: underline;
  text-align: center;
}

main p {
  line-height: 1.5em;
  margin-bottom: 0em;
}

footer {
  margin-bottom: 50px;
}

footer p {
  text-align: center;
}

/*Mobile first design*/
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.intro {
  font-size: 24px;
}

.left-align {
  text-align: left;
}

/*Desktop*/
@media all and (min-width: 800px) {

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    font-size: 42px;
    margin: 14px 0;
    padding-top: 6px;
  }
  
  header nav {
    margin-top: 14px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  main a:link {
    text-decoration: none;
  }

  main a:hover {
    text-decoration: underline;
  }

}

#home, #about-me, #projects, #contact {
  margin-bottom: 120px;
}

#about-me {
  background-color: lightsteelblue;
  padding: 20px 0 30px 0;
  margin: 120px 0px;
  color: black;
}

#contact {
  background-color: lightsteelblue;
  padding: 20px 0 30px 0;
  margin: 120px 0px 50px 0px;
  color: black;
}

form {
  padding-right: 6px;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}